<h1 class="content-title">ユーザー設定</h1>

<div class="main-box">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, class: "form-control"  %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password, "新しいパスワード" %> <i class="text-silver">パスワードを変更しない場合は記入しないでください</i><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "半角英数6文字以上" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "新しいパスワード(確認用)"%><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "同じパスワードを入力" %>
    </div>

    <div class="field">
      <%= f.label :current_password %> <i class="text-silver">変更のために現在のパスワードを入力してください</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "更新する", class: "btn btn-outline-primary" %>
    </div>
  <% end %>

</div>

<h1 class="content-title">退会する</h1>

<div class="main-box">
  <p>アカウントを削除する場合は以下のボタンを押してください。</p>
  <%= link_to "アカウント削除", registration_path(resource_name), data: { confirm: "本当に削除しますか？" }, method: :delete, class: "btn btn-outline-danger" %>

</div>
