<div class="main-box">
  <%= form_with(model: [@user,@event],local: true) do |form| %>
    <% if event.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% event.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :start_date %><br>
      <%= form.datetime_select :start_date %>
    </div>

    <div class="field">
      <%= form.label :end_date %><br>
      <%= form.datetime_select :end_date, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :place %>
      <%= form.text_field :place, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :result %><br>
      <%= form.select :result, [["開催前", "upcoming"], ["成功", "success"], ["失敗", "failure"], ["参加済み", "joined"]], class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :body %>
      <%= form.text_area :body, :rows => "5", class: "form-control" %>
    </div>

    <div class="actions">
      <%= form.submit class: "btn btn-outline-primary btn-block" %>
    </div>
  <% end %>

<div class="main-box">
