<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @event.body %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @event.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @event.end_date %>
</p>

<p>
  <strong>Place:</strong>
  <%= @event.place %>
</p>

<p>
  <strong>Result:</strong>
  <%= @event.result %>
</p>

<p>
  <strong>User:</strong>
  <%= @event.user_id %>
</p>

<p>
  <%= link_to '編集', edit_user_event_path(user_id: current_user) %>
  <%= link_to '削除', user_event_path(user_id: current_user), method: :delete, data: { confirm: '削除してよろしいですか?' } %>
</p>

<p>
  <%= link_to 'イベント一覧に戻る', user_events_path(user_id: current_user) %>
</p>
