<h1 class="content-title">イベント詳細</h1>

<div class="main-box">
  <p id="notice"><%= notice %></p>

  <h3 class="event-title"><span class=" marker_water"><%= @event.title %></span></h3>

  <div class="table-responsive">
    <table class="table table-bordered">
      <tr>
        <p>
          <td><strong>開始日時</strong></td>
          <td><%= @event.start_date.strftime("%Y-%m-%d %H:%M")  %></td>
        </p>
      </tr>

      <tr>
        <p>
          <td><strong>終了日時</strong></td>
          <td><%= @event.end_date.strftime("%Y-%m-%d %H:%M")  %></td>
        </p>
      </tr>

      <tr>
        <p>
          <td><strong>場所</strong></td>
          <td><%= @event.place %></td>
        </p>
      <tr>

      <tr>
        <p>
          <td><strong>結果</strong></td>
          <td><%= result_ja(@event.result) %></td>
        </p>
      </tr>

      <tr>
        <p>
          <td><strong>メモ</strong></td>
          <td><%= simple_format(@event.body) %></td>
        </p>
      </tr>

    <table>
  </div>

  <p>
    <%= link_to '編集', edit_user_event_path(user_id: current_user) %>
    <%= link_to '削除', user_event_path(user_id: current_user), method: :delete, data: { confirm: '削除してよろしいですか?' } %>
  </p>

  <p>
    <%= link_to 'カレンダーに戻る', user_events_path(user_id: current_user) %>
  </p>
</div>
