<nav class="navbar navbar-light bg-light fixed-top">
  <span class="navbar-brand">
    <%= link_to user_path(current_user) do %>
      <%= image_tag "logo.png", class: "navbar-logo" %>
    <% end %>
  </span>
  <ul class="navbar-nav mr-auto"></ul>
  <span class="navbar-text">
    ようこそ、<%= current_user.name %>さん
  </span>
  <form class="form-inline">
    <%= link_to edit_user_registration_path do %>
      <span class="btn btn-sm ml-2 btn-outline-secondary" >ユーザー設定</span>
    <% end %>
  </form>
  <form class="form-inline">
    <%= link_to destroy_user_session_path, method: :delete do %>
      <span class="btn btn-sm ml-2 btn-outline-secondary" >ログアウト</span>
    <% end %>
  </form>
</nav>
