<!DOCTYPE html>
<html>
  <head>
    <title>Nazosche</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "application", media: "all" %>

    <meta name="viewport" content="width=device-width,initial-scale=1">

  </head>

  <body>
    <%= render 'layouts/notifications' %>
    <body data-turbolinks="false">
    <%= render 'layouts/navbar' %>

      <div class="container-fluid show-wrapper">
        <div class="row">
          <div class="col-lg-2 sidebar">
            <ul class="nav nav-sidebar">
              <%= render 'layouts/sidebar' %>
            </ul>
          </div>

          <div class="col-lg-7 offset-lg-2 show-container">
            <%= yield %>
          </div>

          <div class="col-lg-3" ></div>
        </div>
      </div>

  </body>
</html>
