<!DOCTYPE html>
<html>
  <head>
    <title>Nazosche</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "application", media: "all" %>

    <meta name="viewport" content="width=device-width">

  </head>
  <body>
    <%= render 'layouts/notifications' %>
    <body data-turbolinks="false">

    <div class ="top-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="column fifty-left text-center col-lg-6 d-none d-lg-block"></div>
            <div class="column fifty-right col-lg-6 offset-lg-6">
              <%= yield %>
            </div>
          </div>
        </div>
    </div>
  </body>
</html>
